<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'master.css')}}">
</head>
<body>
    

<div class="login-card">
    <form method="post" action="/registration" class="form">
        <div class="field">
            <label>Create login:</label>
            <input type="text" name="login" id="login" required>
        </div>
        <div class="field">
            <label>Create password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="field">
            <label>Confirm password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
        </div>
        <button type="submit">Sign in</button>
        <div class="forgot">
            <a href="/login" calss="forgot-link">Sign in</a>
        </div>
    </form>
</div>
<script src = "{{url_for('static', filename= 'registration.js' )}}"></script>
</body>
</html>